extends layout

block content
  h1  Node Application
  section.css-table
    section.two-column
      section.cell
        h2 What is Node?
        p Author - November 8, 2009, Ryan Dahl. Node.js is an event-driven server-side JavaScript environment. This means that you can create server-side applications with JavaScript in the same way that you can with languages like PHP, Ruby, and Python. 
        p It is particularly focused on networks and creating software that interacts with networks.
      section.cell
        h2 Why Node?
        p Creating applications for the browser, Node.js allows your server to be JavaScript, making it much simpler to share data between your server and client.
  section.css-table
    section.four-column
      section.cell
        h3 Express
        p Express is a web framework for Node.js. 
        p Ruby on Rails (Ruby) | Sinatra (Ruby) | Django (Python) | Zend (PHP) | CodeIgniter (PHP)
      section.cell
        h3 Jade
        p Express makes use of template engines to compile views to HTML. By default, Express uses Jade as the template engine. 
        p Template engines can also be known as template processors or filters. Two popular template engines are Smarty (PHP) and ERB (Ruby).
      section.cell
        h3 Mongo
        p NoSQL bracket are Cassandra | Redis | Memcached | MongoDB | Hadoop
      section.cell
        h3 Debug and Test and Deployment
        p STDIO module | NOde debugger | Node Inspector
        p TDD - assert and BDD: Vows | Mocha
        p Heroku | Cloud Foundry | Nodester